/* Class 35 - External CSS */
body {
  background-color: #b1b493;
}

h1,h3 {
  color: black;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 10%;
}