body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.container-fluid {
  padding: 7% 14%;
}

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
background-color: #fff;
}


/* ----------------Section Headings--------------- */
.section-heading {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.5;
}


/* Media Queries for Title Section */
@media (min-width: 1300px) {
  #title-image {
    right: 15%;
    position: absolute;
    width: 40%;
  }
}

@media (max-width: 1028px) {
  #title-image {
    position: static;
    transform: rotate(0);
  }
}


/* ----------------Title Section--------------- */
#title .container-fluid {
  padding: 3% 14% 5%;
  text-align: left;

}


/* Nav Bar */
.navbar {
  padding: 0 0 4.5rem 0;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: 500;
}

.nav-item {
  padding: 0 1.2rem;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 100;
}


/* Title */
.big-heading {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
}


/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}


/* Title Image */
.title-image {
  position: absolute;
  right: 25%;
  transform: rotate(25deg);
  width: 60%;
}


/* ----------------Features---------------- */
#features {
  position: relative;
  z-index: 1;
}

.feature-box {
  padding: 4.5%;
}

.feature-title {
  font-size: 1.7rem;
  font-weight: 800;
}

.feature-icon {
  color: #ef8172;
  padding-bottom: 1.5rem;
}

.feature-icon:hover {
  color: #ff4c68;
}

p {
  color: #8f8f8f;
  font-weight: 500;
}


/* ----------------Testimonials----------------*/
#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  border-radius: 100%;
  margin: 1rem;
  width: 10%;
}


/* ----------------Press---------------- */
#press {
  background-color: #fff;
  padding: 5% 2%;
  border-bottom: #ccc 1px solid;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}


/* --------------Pricing-------------- */
.pricing-column {
  padding: 3% 2%;
}


/* ------------Call to Action------------ */



/* ----------------Footer---------------- */
.social-icon {
  margin: 20px 10px;
}